<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WDTV Thumbnail Generator</title>
  <meta content="A thumbnail generator for the WDTV" name="description" />
  <link href="/styles.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div id="container">
    <h1>WDTV Thumbnail Generator</h1>
    <p id="intro">Resizes any image to 120x180 & converts to .jpg</p>

    <form method="post" action="/">
      <label for="image_url">Past image url:</label>
      <input type="text" name="image_url" id="image_url" />
      <input type="submit" value="Generate thumbnail" />
    </form>
    <img src="/wdtv_live.jpg" alt="Photo of the WDTV Live and remote control" width="300" height="300" />
    
  </div><!-- /container -->
</body>
</html>
