<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WDTV Thumbnail Generator</title>
  <meta content="A thumbnail generator for the WDTV" name="description" />
  <link href="/styles.css" rel="stylesheet" type="text/css"></link>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-75197-11']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="container">
    <h1>WDTV Thumbnail Generator</h1>
    <p id="intro">Resizes any image to 120x180 & converts to .jpg</p>

    <form method="post" action="/">
      <label for="image_url">Paste image url:</label>
      <input type="text" name="image_url" id="image_url" />
      <input type="submit" value="Generate thumbnail" />
    </form>
    <img src="/wdtv_live.jpg" alt="Photo of the WDTV Live and remote control" width="300" height="300" />
    <p id="footer">This generator is a simple <a href="http://www.sinatrarb.com/">Sinatra</a> app hosted on <a href="http://heroku.com">Heroku</a>.<br />Feel free to take a look at the <a href="https://github.com/paulsturgess/wdtvthumbgen.herokuapp.com">source code</a>.</p>
  </div><!-- /container -->
</body>
</html>
